<form [formGroup]="loginForm">
    <p class="text-danger">{{loginError}}</p>
    <div class="mb-3">
        <i class="fa fa-user"></i>
        <label for="exampleInputEmail1" class="form-label ms-2">Usuario</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        <div *ngIf="email.invalid && (email.dirty || email.touched)">

            <div *ngIf="email.errors?.['required']">
                El email es requerido.
            </div>
            <div *ngIf="email.errors?.['email']">
                El email debe tener un formato valido.
            </div>

        </div>

    </div>
    <div class="mb-3">
        <i class="fa fa-lock"></i>
        <label for="exampleInputPassword1" class="form-label ms-2">Contraseña</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">

        <div *ngIf="password.invalid && (password.dirty || password.touched)">

            <div *ngIf="password.errors?.['required']">
                La contraseña es requerida.
            </div>

        </div>

    </div>
    <button type="submit" (click)="login()" class="btn btn-primary">Iniciar Sesión</button>
</form>