<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" aria-current="page" routerLink="/inicio">Gestor de ventas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="!userLoginOn" class="nav-item">
            <a class="nav-link" routerLink="/iniciar-sesion.">Iniciar Sesión</a>
          </li>
          <li *ngIf="userLoginOn" class="nav-item">
            <a class="nav-link" >DashBoard</a>
          </li>

          <li *ngIf="userLoginOn" class="nav-item">
            <a class="nav-link" routerLink="/articulos">Articulos</a>
          </li>
          <li *ngIf="userLoginOn" class="nav-item">
            <a class="nav-link" routerLink="/proveedores">Proveedores</a>
          </li>
          <li *ngIf="userLoginOn" class="nav-item">
            <a class="nav-link" routerLink="/ofertas">Ofertas</a>
          </li>

          <li *ngIf="userLoginOn" class="nav-item">
            <a class="nav-link" routerLink="/pedidos">Pedidos</a>
          </li>
          <li *ngIf="userLoginOn" class="nav-item">
            <a class="nav-link"  routerLink="/ordenCompra">Ordenes de Compra</a>
          </li>
          <li *ngIf="userLoginOn" class="nav-item">
            <a class="nav-link" routerLink="/reportes/proveedores">Reporte Proveedores</a>
          </li>
          <li *ngIf="userLoginOn" class="nav-item">
            <a class="nav-link" (click)="recargarPagina()" href="javascript:void(0)">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>