    <footer class="jumbotron fixed-bottom">
    <!--Pie de pagina (Utilizadon bootstrap y )-->
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <p>
                        Proyecto web creado con framework Angular, se trata de un gestor de
                        ventas para el curso de Base de datos I este proyecto fue desarrollado
                        por J. Aguilar Vaides, W. Sarpec Sis, G. Isaias de Leon Mendoza y F. Hernández Andrés esperamos sea
                        de su agrado.
                    </p>
                </div>
            </div>
            <div class="text-center mb-2">
                <a href="https://www.facebook.com" target="-blank" class="text-white me-4">
                    <i class="fa fa-facebook-f" alt="facebook" ></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://github.com/123Sarpec/BaseDatos_1" class="text-white me-4" target="-blank">
                    <i class="fa fa-github" alt="github" ></i>
                </a>
                <p class="copyrignt"> © Copyright Grupo 365</p>
            </div>
        </div>
    </div>
</footer>