<div class="table-container">
  <table class="table table-striped table-hover">
    <button class="btn btn-primary" [routerLink]="['/addArticulos', true]">Agregar Artículo</button>
    <thead>
      <tr>
        <th>Id_Articulo</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Funciones de tabla</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i = index">
          <td>{{ item.Id_Articulo }}</td>
          <td>{{ item.Nombre }}</td>
          <td>{{ item.Descripcion }}</td>
          <td>
            <button class="btn btn-primary" (click)="startEdit(item)">Editar</button>
            <button class="btn btn-primary" (click)="addProveedor(item)">Agregar Proveedor</button>
            <button class="btn btn-primary" (click)="hacerpedido(item)">Hacer Pedido</button>
            <button class="btn btn-danger" (click)="toggleDelete()">Borrar</button>
            <button class="btn btn-danger" (click)="deleteData(item.Id_Articulo)" *ngIf="isDeleting">Confirmar</button>
          </td>
        </tr>
      </tbody>
  </table>  
</div>